/env/
media/*
StingrayPhotos/__pycache__
auth/__pycache__/
uploader/__pycache__/
get_key/__pycache__/
get_image/__pycache__/
uploader/migrations/__pycache__/
auth/migrations/__pycache__/
get_image/migrations/__pycache__/
get_key/migrations/__pycache__/
utils/__pycache__/
.idea/
db.sqlite3